@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F2EFEE;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #D9D8D7;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E2E0DF;
}

@layer base {
  body {
    @apply font-fontSans;
  }
}

@layer utilities {
  .head-text {
    @apply mt-4 text-6xl leading-[72px] font-bold tracking-[-1.2px] text-gray-900;
  }

  .section-text {
    @apply text-secondary text-[32px] font-semibold;
  }

  .small-text {
    @apply flex gap-2 text-sm font-medium;
  }

  .paragraph-text {
    @apply text-xl leading-[30px] text-gray-600;
  }

  /* NAVBAR */
  .nav {
    @apply h-20 flex items-center justify-between px-5 bg-white border-b-[0.5px] border-n400 z-50;
  }

}